// Colors

$primary-color: #10102f;
$secondary-color: #5be7c3;
$tierce-color: #fff;
$error-color: red;

//Font-size

$font-header-link: 2.4rem;
$font-header-logo: 5rem;
$font-big-title: 8rem;
$font-big-paragraphe: 3rem;

//heght

$height-header: 8rem;

//margin

$side-margin: 12rem;
