// Colors

$primary-color: #222527;
$secondary-color: white;
$tierce-color: lightgrey;
$error-color: red;

//Font-size

$font-header-link: 2.4rem;
$font-header-logo: 5rem;

//heght

$height-header: 8rem;
