.header {
  width: 100%;
  height: $height-header;
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo {
    font-size: $font-header-logo;
    margin-left: 12rem;
    a {
      display: block;
      cursor: pointer;
      text-decoration: none;
      color: $secondary-color;
    }
  }
  &_nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    &_link {
      margin-right: 12rem;
      font-size: $font-header-link;
      position: relative;
      text-decoration: none;
      display: block;
      color: $secondary-color;
      padding: 1rem;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $secondary-color;
        transform: scale(0);
        transition: all 0.3s ease-out;
      }
      &:hover::after {
        transform: scale(1);
        transform-origin: center;
        transition: all 0.5s ease-out;
      }
      &-active::after {
        transform: scale(1);
      }
    }
    &_btn {
      margin-right: 12rem;
      font-size: $font-header-link;
      cursor: pointer;
    }
  }
}
