.form {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $tierce-color;
  width: 50rem;
  &_title {
    color: $primary-color;
    align-self: center;
    font-size: 4rem;
    padding: 2rem;
  }
  &_fields {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  &_label {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 0.7rem;
  }
  &_input {
    padding: 0.3rem;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid $primary-color;
    outline: none;
    &-wrong {
      outline-color: red;
    }
    &-valid {
      outline-color: green;
    }
  }
  &_errorMessage {
    color: $error-color;
    font-size: 1.5rem;
    height: 1rem;
    padding: 0.5rem;
  }
  &_btn {
    @include btn-primary($primary-color, $secondary-color, 20rem, 4rem);
    margin: 2rem auto 4rem;
  }
  &_redirection {
    font-size: 1.8rem;
  }
}
